
.purplebox {
    background-color: rgb(105, 0, 243);
    width: 1500px;
    height: 100px;
    margin: auto;
    text-align: center;
    color: white;
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
}

.bluebox {
    background-color: rgb(41, 41, 83);
    width: 1500px;
    height: 100px;
    margin: auto;
    text-align: center;
    color: white;
    display: flex;
    gap: 120px;
    justify-content: center;
    align-items: center;
}

.msgBox {
    position: absolute;
    top: 30%;
    left: 15%;
    transform: translate(-50%,-50%);
    width: 242px;
    background: #eee;
  }

  .msgBox p {
    line-height: 1.5;
    padding: 10px 20px;
    color: #333
    padding-left: 82px;
    background-position: 25px center;
    background-repeat: no-repeat;;
  }

  .msgBox button {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.1rem;
    color: #aaa;
  }

  input {
    font-size: 2em;
    margin: 10px 1px 0;
  }

